html {
    min-width: 300px;
    background-color: #fff;
}

body{
  overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    display: block;
    width: 100%;
    height: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}
