#banner{
  height: 550px;
  background-position: center;
  background-size: cover;
  border-bottom: 15px solid $base-colour;
  position: relative;

  h1.banner-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    width: 80%;
  }

  .banner-button-links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;


      .banner-button-link{
        float: right;
        margin-left: 25px;
        height: 74px;
        padding-left: 22px;
        padding-right: 22px;
        background-color: $base-colour-2;
        transition: all 0.3s;

        &:hover{
          background-color: $base-colour;
        }

        span{
          height: 74px;
          display: inline-block;
          line-height: 74px;
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 22px;
          vertical-align: top;
        }

        i{
          margin-left: 14px;
          font-size: 22px;
          display: inline-block;
          line-height: 72px;
          height: 72px;
          vertical-align: top;
          color: #fff;
          margin-top: 2px;
          transition: transform 0.3s;
        }

        &:hover{
          i{
            transform: translateX(5px);
          }
        }
      }

      #banner-button-link-1{
        background-color: transparent;
        background-image: url('../../img/button-bg.png');
        background-repeat: repeat;

        &:hover{
          background-color: $base-colour;
        }
      }
  }
}
