.contact-section{
  background-image: url('../../img/contact-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 145px;

  .container{
    display: flex;
    align-items: center;

    .two-col-spaced:last-of-type{
      padding-left: 60px;

      h4{
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 25px;
      }

    }
  }

  .form-container{
    padding: 20px;
    background-color: $base-colour-3;

    h2{
      font-size: 30px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
    }

    input{
      width: 100%;
      background-color: #d7f5f4;
      appearance: none;
      border: none;
      height: 35px;
      margin-bottom: 15px;
      padding-left: 10px;
      font-size: 16px;
      color: #000;
    }

    textarea{
      width: 60%;
      background-color: #d7f5f4;
      appearance: none;
      border: none;
      margin-bottom: 15px;
      padding-left: 10px;
      padding-top: 10px;
      float: left;
      font-size: 16px;
      color: #000;
    }

      button[type="submit"]{
        float: right;
        width: 35%;
        height: 120px;
        background-color: transparent;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        appearance: none;
        border: none;
        cursor: pointer;

        i{
          margin-right: 5px;
        }
      }
  }
}
