// Variables
$gutter: 22px;
$gridwidth: 1154px;

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    position: relative;
    width: 100%;
    max-width: $gridwidth;
}

.two-col-spaced{
    width: 49%;

    &:nth-of-type(odd){
        float: left;
    }

    &:nth-of-type(even){
        float: right;
    }
}

.three-col-spaced{
    width: 32%;
    float: left;

    &:nth-of-type(3n+2){
        margin-left: 2%;
        margin-right: 2%;
    }
}
