header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

    .container{
      background-color: #fff;
      position: relative;
      padding-top: 17px;
      padding-bottom: 17px;

      &:before{
        content: '';
        position: absolute;
        height: 90px;
        max-width: 1154px;
        width: 100%;
        left: 50%;
        background-color: #fff;
        top: 0;
        z-index: -1;
      }
    }

    .main-logo{
      float: left;
      height: 56px;

      img{
        width: auto;
        height: 56px;
      }
    }

    #main-menu{
      height: 56px;
      float: right;

      ul{
        list-style: none;
      }

      li{
        float: left;
        margin-left: 30px;

        a{
          display: block;
          height: 56px;
          line-height: 56px;
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 16px;
          position: relative;

          &:after{
            transition: all 0.3s;
            content: '';
            position: absolute;
            bottom: 10px;
            height: 3px;
            width: 100%;
            left: 0;
            background-color: #fff;
          }

          &:hover{
            &:after{
              background-color: $base-colour;
            }
          }
        }
      }

      .menu-item-icon{
        a{
          color: $base-colour;
          font-size: 18px;
        }
      }
    }

    #mobile-menu{
      display: none;
    }
    .search-box{
      position: absolute;
      top: 0;
      background-color: $base-colour;
      width: 40%;
      right: 0;
      z-index: -1;
      transition: top 0.3s;

      &.active{
        top: 90px;
      }
    }

    .search-form{
      display: flex;

      input{
        flex-grow: 1;
      }

      input[type="text"]{
        appearance: none;
        border: none;
        height: 40px;
        background-color: #f0f0f0;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 0;
      }

      input[type="submit"]{
        appearance: none;
        border: none;
        height: 40px;
        background-color: $base-colour;
        width: 80px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        max-width: 90px;
        min-width: 60px;
      }

      .close-search{
        line-height: 40px;
        width: 40px;
        color: #fff;
        display: inline-block;
        background-color: $base-colour-2;
        text-align: center;
        cursor: pointer;
        min-width: 30px;
      }
    }
}
#mobile-menu-links{
  display: none !important;
}
