.intro-content{
  padding-top: 32px;
  padding-bottom: 32px;

  .container{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .two-col-spaced{
      float: none;
      position: relative;
  }

  h2{
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 26px;
  }

  .link-list{
    list-style: none;

    li{
      float: left;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid $base-colour;
      height: 14px;

      &:last-of-type{
        margin-right: 0;
        border-right: none;
        padding-right: 0;
      }

      a{
        font-size: 14px;
        line-height: 14px;
        vertical-align: top;
        color: $base-colour;
      }
    }
  }

  #twitter-slider{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    padding-left: 100px;

    &:before{
      content: '';
      width: 80px;
      left: 0;
      position: absolute;
      top: 0;
      height: 85px;
      background-image: url('../../img/twitter-brands.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px;
    }

    .tweet-text{
      text-align: center;
      display: block;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.4;
    }

    .owl-dots{
      text-align: center;
      margin-top: 35px;
    }

    .owl-dot{
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #c8c8c8;
      margin-left: 8px;
      margin-right: 8px;
      border-radius: 20px;

      &.active{
        background-color: $base-colour;
      }
    }
  }
}
