.logo-section{
  background-color: $base-colour;
  border-bottom: 14px solid #000;

  .container{
    display: flex;
    align-items: stretch;
    padding-top: 15px;
    padding-bottom: 15px;

    div{
      flex-grow: 1;
      position: relative;
      padding: 20px;
      box-sizing: border-box;



      img{
        height: 70px;
        width: auto;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
