.news-section{
  margin-top: -120px;
  padding-bottom: 70px;
  background-image: url('../../img/news-bg.png');
  background-position: 0 120px;
  background-size: auto;
  background-repeat:repeat-x;

  h1{
    text-align: center;
    font-weight: 300;
    line-height: 120px;
    margin-bottom: 0;
    font-size: 48px;
  }

  .single-post{
    background-color: #fff;
    text-decoration: none;

    .post-text{
      padding: 15px;
      display: block;
      background-color: #fff;
      transition: all 0.3s;

      .post-text-title{
        font-size: 26px;
        line-height: 1.4;
        display: block;
        margin-bottom: 15px;
        color: $base-colour;
        font-weight: 300;
      }
      .post-text-content{
        font-size: 16px;
        line-height: 1.4;
        display: block;
        color: #000;
        font-weight: 400;
      }
    }

    &:hover{
      .post-text{
        transform: translateY(-20px);
      }
    }
  }
}
