@media only screen and (max-width: 1110px) {
  #main-menu{
    display: none;
  }
  #mobile-menu{
    height: 56px;
    float: right;
    display: block !important;

    ul{
      list-style: none;
    }

    li{
      float: left;
      margin-left: 20px;

      a{
        display: block;
        height: 56px;
        line-height: 56px;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
            color: $base-colour;
      }
    }
  }

  #mobile-menu-links{
      position: fixed;
      z-index: 100;
      background-color: $base-colour;
      width: 100%;
      height: 100%;
      display: block !important;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s;

      .menu-close{
        position: absolute;
        top: 20px;
        right: 15px;
        width: 40px;
        line-height: 40px;
        font-size: 24px;
        color: #fff;
        text-align: center;
        cursor: pointer;
      }

      &.active{
        visibility: visible;
        opacity: 1;
      }
      ul{
        padding-top: 100px;
      }
      li{
        display: block;
        height: 40px;
        width: 100%;
        margin-bottom: 20px;

        a{
          text-align: center;
          height: 40px;
          line-height: 40px;
          color: #fff;
          display: block;
          font-size: 20px;
          text-decoration: none;
        }
      }
  }

  .logo-section{
    .container{
      display: block;
      text-align: center;

      div{
        display: inline-block;

        img{
          height: 50px;
        }
      }
    }
  }
  header .container:before{
    display: none !important;
  }
}

@media only screen and (max-width: 990px) {
  .two-col-spaced{
      width: 100%;
      margin-bottom: 60px;

      &:last-of-type{
        margin-bottom: 0;
      }
  }

  .contact-section .container .two-col-spaced:last-of-type{
    padding-left: 0;
  }

  .contact-section{
    .container{
      display: block;
    }
  }

  #twitter-slider{
    position: relative !important;
    transform: translate(0) !important;
    width: 100% !important;
    padding-left: 0 !important;
    left: 0 !important;
    top: 0 !important;
    padding-top: 100px;

    &:before{
      left: 50% !important;
      transform: translateX(-50%);
    }
  }
}

@media only screen and (max-width: 900px) {
  .three-col-spaced{
      width: 100%;
      margin-bottom: 50px;

      &:nth-of-type(3n+2){
          margin-left: 0;
          margin-right: 0;
      }
  }
  .news-section h1{
    font-size: 40px;
  }
  header .search-box{
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #banner{
    height: 400px;
    padding-bottom: 100px;
    box-sizing:content-box;

    .container{
      padding: 0 !important;
    }

    .banner-button-link{
      width: 100%;
      margin: 0;
      height: 50px !important;
      margin-left: 0 !important;
      text-align: center;

      span{
        height: 50px !important;
        line-height: 50px !important;
        font-size: 16px !important;
      }
      i{
        height: 50px !important;
        line-height: 50px !important;
        font-size: 16px !important;
        margin-top: 0 !important;
      }
    }

  }
  #banner h1.banner-title{
    font-size: 24px;
    top: 40%;
  }
  .news-section h1{
    font-size: 32px;
  }

  .intro-content h2{
    font-size: 24px;
  }
  p{
    font-size: 14px;
  }
  .news-section .single-post .post-text .post-text-content{
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .news-section .single-post .post-text .post-text-title{
    font-size: 22px;
  }

  .contact-section .form-container textarea{
    width: 100%;
  }
  .contact-section .form-container button{
    width: 100% !important;
  }
}

@media only screen and (max-width: 442px) {
  header{
    .container{
      &:before{
        height: 67px;
      }
    }
    .main-logo{
      height: 33px;

      img{
        height: 33px;
      }
    }
    #mobile-menu{
      height: 33px;

      li{
        margin-left: 15px;

        a{
          height: 33px;
          line-height: 33px;
          font-size: 16px;
        }
      }

    }
  }
  .news-section h1{
    font-size: 28px;
  }

  header .search-box.active{
    top: 67px;
  }

  header .search-form{
    input[type="submit"]{
      font-size: 10px;
    }
  }
}
